<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>388912953234-if6fsau08ffbfd3o8s5iejqdv6nb4q3j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.388912953234-if6fsau08ffbfd3o8s5iejqdv6nb4q3j</string>
	<key>API_KEY</key>
	<string>AIzaSyC3hSQ5Y46f5pEaU8tQd9x824jZmYg-NaU</string>
	<key>GCM_SENDER_ID</key>
	<string>388912953234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>C14190207.Simon</string>
	<key>PROJECT_ID</key>
	<string>tes2ios-94675</string>
	<key>STORAGE_BUCKET</key>
	<string>tes2ios-94675.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388912953234:ios:1ab0bed02bc1ff985af34b</string>
</dict>
</plist>